.header-container {
	height: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid red;
}

.bucket-logo {
	background-image: url(./assets/img/bucket-icon-yellow-b-124px.png);
	width: 124px;
	height: 124px;
	margin-top: 12px;
}