body{
	box-sizing: border-box;

}

.main-body {
	display: grid;
	grid-template-columns: : 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	grid-template-rows: 20% 60% 20%;
	border: 2px solid orange;
}

.header-container {
	grid-column: 1/2;
	/*grid-column-end: -2;*/
	border: 1px solid red;
}

.main-container {
	width: 100%;
	height: 300px;
	/*border: 1px solid green;*/
}